In [5]:
n = int(input())
new = 0
while n != 0:
  new = new * 10 + n % 10
  n //= 10
print(new)

4321
1234

In [ ]:
a = int(input("Nhập a: "))
b = int(input("Nhập b: "))

print(f"Trước khi hoán đổi: a = {a}, b = {b}")

a = a ^ b
b = a ^ b
a = a ^ b

print(f"Sau khi hoán đổi: a = {a}, b = {b}")

In [ ]:

n=int(input())
if n&(n-1)==0:
  print('YES')
else:
  print("NO")

In [9]:
from math import*
m,n  = map(int,input().split())
new = m / n
print(floor(new))

2323 45
51

In [10]:
from math import*
m,n  = map(int,input().split())
new = m / n
print(ceil(new))

2 3
1

In [12]:
n = int(input())
if n % 2 == 0:
  print("EVEN")
else:
  print("ODD")

5
ODD

In [14]:
m = int(input())
n = int(input())
if m < 0 and n < 0:
  print("YES")
else:
  print("NO")

-5
-8
YES

In [16]:
a = input()
b = input()
if len(a) > len(b):
  print(True)
else:
  print(False)

mouse
dog
True

In [18]:
a = int(input())
b = int(input())
c = int(input())
if a + b > c and a + c > b and b + c > a:
  print("yes")
else:
  print("no")

1
2
3
no

In [20]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())
print(max(a, b, c, d))

2
3
4
5
5

In [23]:
a, b, c = map(int, input().split())
if a + b > c and a + c > b and b + c > a:
  if a == b == c:
    print("tam giac deu")
  elif a == b or a == c or b == c:
    print("tam gia can")
  else:
    print("tam giac thuong")
else:
  print("khong phai tam giac")

1 2 3
khong phai tam giac

In [26]:
n = int(input())
if n % 4 == 0 and n % 100 != 0 or n % 400 == 0:
  print("yes")
else:
  print("no")

2004
yes

In [ ]:
kwh = int(input(' nhap vao so kwh dien tieu thu:'))
tien = 0

if kwh <= 50:
    tien = kwh * 1500

elif kwh <= 100:
    tien = 50 * 1500 + (kwh - 50) * 2000

else:
    tien = 50 * 1500 + 50 * 2000 + (kwh - 100) * 3000

print("Tien dien:", tien, "đ")

In [34]:
a = float(input())
b = float(input())
if a == 0 and b != 0:
  print("vo nghiem")
elif a == 0 and b == 0:
  print("vo so nghiem")
else:
  x = -b / a
  print(round(x, 2))

0
5
vo nghiem

In [37]:
diem_tb = float(input())
if diem_tb >= 8:
  print("gioi")
elif 6.5 <= diem_tb <= 8:
  print('kha')
elif 5 <= diem_tb <= 6.5:
  print('trung binh')
else:
  print("yeu")

7
kha